.main-wrapper {
    display: grid;
    place-items: center;
    margin-top: 10px;
}

form {
    display: grid;
    row-gap: 5px;
    padding: 1rem;
}

.weather-data {
    display: grid;
    width: 300px;
}

.weather-data img { 
    width: 100%;
}

.weather-data .title {
    font-size: 2rem;
    justify-self: center;
}